
:root {
    --color1 :  #0f5e5e;
    --color2 : #fef9f5;
    --color3 : #894329;
    --color4 : 	#fbe0cf;
    --color5 : #aec3ff;
    --color6 : 	#77625c;
    --color7 : 	#b2b1cf;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color2);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    width: 100vw;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    color: var(--color2);
   background-color: var(--color1);
   padding: 2%;
   position: relative;

}
.part1 {
    display: flex;
}
.image {
    border: 2px solid var(--color1);
    border-radius: 10%;
    background-image: url('mypic.jpeg');
    position: absolute;
    bottom: 15%;
    left: 26%;
    width: 11%;
    aspect-ratio: 1;
    background-size: cover;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.info {
    font: bold;
    font-weight: 600;   
}

@media screen and (max-width:800px) {
    .image {
        width: 18%;
        height: 65%;
        position: absolute;
        left: 3%;
        bottom: 25%;
    }
}

@media screen and (max-width:590px) {
    .image {
        width: 40%;
        aspect-ratio: 1;
        position: absolute;
        top: 19%;
        left: 19%;
        bottom: 10%;
        margin-right: 2%;
    }
    .info {
        margin-left: 15%;     
    }
}

@media screen and (min-width:1000px) {
    .image {
        width: 9%;
        aspect-ratio: 1;
        position: absolute;
        top: 8%;
        left: 20%;
        bottom: 25%;
    }
    .info {
        margin-left: 25%;
    }
    .navbar {
        height: 40%;
    }
}
@media screen and (max-width:999px) {
    .image {
        width: 10%;
        aspect-ratio: 1;
        position: absolute;
        left: 22%;
        bottom: 25%;
    }
}
@media screen and (max-width:830px) {
    .image {
        width: 14%;
        aspect-ratio: 1;
        position: absolute;
        top: 2%;
        left: 10%;
        bottom: 5%;
    }
}
@media screen and (max-width:850px) {
    .image {
        width: 12%;
        aspect-ratio: 1;
        position: absolute;
        top: 2%;
        left: 10%;
        bottom: 5%;
    }
}

@media screen and (max-width:450px) {
    .image {
        width: 19%;
        position: absolute;
        left: 7%;
        bottom: 6%;
    }
    .info {
        margin-left: 30%; 
        font-size: x-small;

    }
    .Table {
        width: 97vw;
        overflow: hidden;
        font-size: small ;
    }
}
@media screen and (max-width: 370px) {    
    .info {
        margin-left: 20%;
        font-size: small;
    }
}
@media screen and (max-width:325px) {  
    .image {
        width: 21%;
        position: absolute;
        left: 4%;
        bottom: 6%;
    }
    .navbar {
        width: 100vw;
    }

    .info {
        margin-top: 3%;
        margin-left: 27%; 
        font-size: x-small;
    }
}


.border {
    width: 100vw;
    height: 4px;
    margin-top: 0.5%;
    background-color: var(--color3);
}
.Object {
    margin-top: 1%;
    border: 2px solid var(--color3);
}
.box {
    background-color: var(--color1);
    color: var(--color4);
    padding: 0.4%;
    font: bolder;
    font-weight: 800;
    text-align: center;
    font-size: large;
}
.obj {
    font: bold;
    font-weight: 600;
    list-style-type: disc;
    margin-left: 0.2%;
    padding: 0.3%;
}
.Table  {
    border: 1px solid var(--color3);
    width: 100vw;
    
}
.Table th {
    background-color: var(--color5);
}
table, th, td {
    border: 2px solid var(--color3);
    border-collapse: collapse;
    font: bold;
    font-weight: 600;
    padding: 0.3%;
}
.part1 {
    padding: 2% 5%;
}
.bold {
    font: bold;
    font-weight: 600;
    margin-left: 0.5%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}
.skill-contain {
    width: 80%;
    height: 0.7rem;
    background-color: var(--color6);
    margin-left: 7%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.skill {
    text-align: right; 
}
.html {
    text-align: left;
    width: 98%;
    background-color: var(--color5);
    height: 0.7rem;
    margin: 0% 0%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.css {
    text-align: left;
    width: 97%;
    background-color: var(--color5);
    height: 0.7rem;
    margin: 0% 0%;
    border-radius: 5px;
}
.js {
    text-align: left;
    width: 95%;
    background-color: var(--color5);
    height: 0.7rem;
    margin: 0% 0%;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.C {
    text-align: left;
    width: 99%;
    background-color: var(--color5);
    height: 0.7rem;
    margin: 0% 0%;
    border-radius: 5px;
}
.java {
    text-align: left;
    width: 95%;
    background-color: var(--color5);
    height: 0.7rem;
    margin: 0% 0%;
    border-radius: 5px;
}